body:not(.flex-width-enabled) {
	position: absolute;
	top: 50%;
	width: 100%;
}

#player {
	position: fixed;
	top: 0;
	padding: 0 !important;
	width: 100%;
	height: 50%;
	z-index: 1000;
	overflow: hidden;
	resize: vertical;
}
#player * {
	resize: none;
}
#player:after {
	display: block;
	position: absolute;
	z-index: 1000;
	content: '';
	height: 0;
	width: 0;
	bottom: 0;
	right: 0;
	border-top: transparent solid 13px;
	border-left: #757575 solid 13px;
	border-bottom: transparent solid 13px;
	transition: all ease 0.2s;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform-origin:0% 100%;
	-webkit-transform-origin:0% 100%;
}
#player:hover:after {
	border-left-color: #959595;
}

#watch7-playlist-data .watch7-playlist-bar-left {
	width: calc(100% - 300px) !important;
}

#player-api {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.watch-playlist #player-api {
	height: calc(100% - 34px);
}

.watch-playlist.watch-small #player-api {
	width: calc(100% - 300px);
}

#watch7-sidebar {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

video.html5-main-video {
	height: 100% !important;
	width: 100% !important;
}

.watch-small #playlist-tray {
	height: calc(100% - 34px);
	position: absolute;
	right: 0;
}
.watch-small #watch7-playlist-tray-container {
	left: auto !important;
	right: 0;
	width: 300px;
	height: 100%;
}

.watch-medium #watch7-playlist-tray-container {
	left: auto !important;
	right: 0;
	width: 400px;
 }