body:not(.flex-width-enabled) {
	position: absolute;
	top: 50%;
	width: 100%;
}

#player {
	position: fixed;
	top: 0;
	padding: 0 !important;
	width: 100%;
	height: 50%;
	z-index: 1000;
}

#watch7-playlist-data .watch7-playlist-bar-left {
	width: calc(100% - 300px) !important;
}

#player-api {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.watch-playlist #player-api {
	height: calc(100% - 34px);
}

.watch-small #player-api {
	width: calc(100% - 300px);
}

.watch-small #playlist-tray {
	height: calc(100% - 34px);
	position: absolute;
	right: 0;
}
.watch-small #watch7-playlist-tray-container {
	left: auto !important;
	right: 0;
	width: 300px;
	height: 100%;
}

.watch-medium #watch7-playlist-tray-container {
	left: auto !important;
	right: 0;
	width: 400px;
}